<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="Bluemoon Admin" />
		<meta name="keywords" content="Admin, Dashboard, Bootstrap3, Sass, transform, CSS3, HTML5, Web design, UI Design, Responsive Dashboard, Responsive Admin, Admin Theme, Best Admin UI, Bootstrap Theme, Wrapbootstrap, Bootstrap, C3 Graphs, D3 Graphs, NVD3 Graphs, Admin Skin, Black Admin Dashboard, Grey Admin Dashboard, Dark Admin Dashboard, Simple Admin Dashboard, Simple Admin Theme, Simple Bootstrap Dashboard, Invoice, Tasks, Profile" />
		<meta name="author" content="Srinu Basava" />
		<link rel="shortcut icon" href="img/favicon.ico">
		<title>Blue Moon - Responsive Admin Dashboard - Profile</title>
		
		<!-- Bootstrap CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen" />

		<!-- Main CSS -->
		<link href="css/main.css" rel="stylesheet" media="screen" />

		<!-- Ion Icons -->
		<link href="fonts/icomoon/icomoon.css" rel="stylesheet" />

		<!-- HTML5 shiv and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->

	</head>

	<body>

		<!-- Header starts -->
		<header>

			<!-- Logo starts -->
			<a href="index.html" class="logo">
				<img src="img/logo.png" alt="Bluemoon Admin" />
			</a>
			<!-- Logo ends -->

			<!-- Header actions starts -->
			<ul id="header-actions" class="clearfix">
				<li class="list-box hidden-xs dropdown">
					<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-warning2"></i>
					</a>
					<span class="info-label blue-bg">5</span>
					<ul class="dropdown-menu imp-notify">
						<li class="dropdown-header">You have 3 notifications</li>
						<li>
							<div class="icon">
								<img src="img/thumbs/user4.png" alt="Bluemoon Admin">
							</div>
							<div class="details">
								<strong class="text-danger">Wilson</strong>
								<p>The best Dashboard design I have seen ever.</p>
							</div>
						</li>
						<li>
							<div class="icon">
								<img src="img/thumbs/user6.png" alt="Bluemoon Admin">
							</div>
							<div class="details">
								<strong class="text-success">John Smith</strong>
								<p>Jhonny sent you a message.</p>
							</div>
						</li>
						<li>
							<div class="icon">
								<img src="img/thumbs/user11.png" alt="Bluemoon Admin">
							</div>
							<div class="details">
								<strong class="text-info">Justin Mezzell</strong>
								<p>Stella, Added you as a Friend.</p>
							</div>
						</li>
						<li class="dropdown-footer">See all the notifications</li>
					</ul>
				</li>
				<li class="list-box hidden-xs dropdown">
					<a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-archive2"></i>
					</a>
					<span class="info-label red-bg">3</span>
					<ul class="dropdown-menu stats-widget clearfix">
						<li>
							<h5 class="text-success">$37895</h5>
							<p>Revenue <span class="text-success">+2%</span></p>
							<div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									<span class="sr-only">40% Complete (success)</span>
								</div>
							</div>
						</li>
						<li>
							<h5 class="text-warning">47,892</h5>
							<p>Downloads <span class="text-warning">+39%</span></p>
							<div class="progress">
								<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									<span class="sr-only">40% Complete (warning)</span>
								</div>
							</div>
						</li>
						<li>
							<h5 class="text-danger">28214</h5>
							<p>Uploads <span class="text-danger">-7%</span></p>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
									<span class="sr-only">40% Complete (danger)</span>
								</div>
							</div>
						</li>
					</ul>
				</li>
				<li class="list-box user-admin dropdown">
					<div class="admin-details">
						<div class="name">Srinu</div>
						<div class="designation">Current User</div>
					</div>
					<a id="drop4" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-account_circle"></i>
					</a>
					<ul class="dropdown-menu sm">
						<li class="dropdown-content">
							<a href="#"><i class="icon-warning2"></i>Update Password<br><span>Your password will expire in 7 days.</span></a>
							<a href="profile.html">Edit Profile</a>
							<a href="forgot-pwd.html">Change Password</a>
							<a href="styled-inputs.html">Settings</a>
							<a href="login.html">Logout</a>
						</li>
					</ul>
				</li>
			</ul>
			<!-- Header actions ends -->

			<div class="custom-search hidden-sm hidden-xs">
				<input type="text" class="search-query" placeholder="Search here ...">
				<i class="icon-search3"></i>
			</div>
		</header>
		<!-- Header ends -->

		<!-- Container fluid Starts -->
		<div class="container-fluid">

			<!-- Navbar starts -->
			<nav class="navbar navbar-default">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="collapse-navbar">
					<ul class="nav navbar-nav">
						<li>
							<a href="index.html"><i class="icon-blur_on"></i>Dashboard</a>
						</li>
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-business_center"></i> Pages <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href='profile.html'>Profile</a>
								</li>
								<li>
									<a href='tasks.html'>Tasks</a>
								</li>
								<li>
									<a href="calendar.html">Calendar</a>
								</li>
								<li>
									<a href='invoice.html'>Invoice</a>
								</li>
								<li>
									<a href="pricing.html">Pricing</a>
								</li>
								<li>
									<a href='blog.html'>Blog</a>
								</li>
								<li>
									<a href="gallery.html">Gallery</a>
								</li>
								<li>
									<a href='default.html'>Default Layout</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="widgets.html"><i class="icon-widgets"></i>Widgets</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-terrain"></i>Graphs <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href='c3-graphs.html'>C3 Graphs</a>
								</li>
								<li>
									<a href='maps.html'>Vector Maps</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-subtitles"></i>Forms <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href='form-inputs.html'>Form Inputs</a>
								</li>
								<li>
									<a href="validations.html">Form Validations</a>
								</li>
								<li>
									<a href="treeview.html">Tree View</a>
								</li>
								<li>
									<a href="colorpicker.html">Colorpicker</a>
								</li>
								<li>
									<a href='editor.html'>WYSIWYG Editor</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-palette2"></i>UI Elements <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href='buttons.html'>Buttons</a>
								</li>
								<li>
									<a href='badges.html'>Badges</a>
								</li>
								<li>
									<a href="loading.html">Loading</a>
								</li>
								<li>
									<a href='components.html'>Components</a>
								</li>
								<li>
									<a href='modals.html'>Modals</a>
								</li>
								<li>
									<a href='progressbars.html'>Progress Bars</a>
								</li>
								<li>
									<a href='notifications.html'>Notifications</a>
								</li>
								<li>
									<a href='icons.html'>Icons</a>
								</li>
								<li>
									<a href='typography.html'>Typography</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-view_week"></i>Tables <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href='tables.html'>Tables</a>
								</li>
								<li>
									<a href="data-tables.html">Data Tables</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-add_alert"></i>Error <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li>
									<a href='login.html'>Login</a>
								</li>
								<li>
									<a href='signup.html'>SignUp</a>
								</li>
								<li>
									<a href='lock-screen.html'>Lock Screen</a>
								</li>
								<li>
									<a href='forgot-pwd.html'>Forgot Password</a>
								</li>
								<li>
									<a href='error.html'>Page Not Found</a>
								</li>
								<li>
									<a href='maintenance.html'>Maintenance</a>
								</li>
								<li>
									<a href='coming-soon.html'>Coming Soon</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
			<!-- Navbar ends -->

			<!-- Dashboard wrapper starts -->
			<div class="dashboard-wrapper">

				<!-- Top bar starts -->
				<div class="top-bar clearfix">
					<div class="row gutter">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="page-title">
								<h4>User Profile</h4>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<ul class="right-stats" id="mini-nav-right">
								<li>
									<a href="javascript:void(0)" class="btn btn-danger"><span>895</span>Sales</a>
								</li>
								<li>
									<a href="javascript:void(0)" class="btn btn-success"><span>125</span>Leads</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Top bar ends -->

				<!-- Main container starts -->
				<div class="main-container">

					<!-- Row starts -->
					<div class="row gutter">
						<div class="col-lg-5 col-md-5 col-sm-7 col-xs-12">
							<div class="panel no-border height2 teal-bg">
								<div class="panel-body">
									<div class="user-profile clearfix">
										<div class="user-img">
											<img src="img/thumbs/user7.png" alt="User Info">
											<span class="completed-info">78<sup>%</sup></span>
										</div>
										<h5>Completed</h5>
										<h3>Srinu Basava</h3>
										<h4>UI Designer</h4>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-5 col-xs-12">
							<div class="panel no-border height2 blue-bg">
								<div class="panel-body">
									<div id="mapAfrica" class="chart-height5"></div>
									<h5 class="text-white">Cape Town, South Africa</h5>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<!-- Row inside row starts -->
							<div class="row gutter">
								<div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
									<div class="panel no-border height1 red-bg">
										<div class="panel-body text-center">
											<div class="user-stats">
												<i class="icon-verified_user icon-4x text-white"></i>
												<h3>1983</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
									<div class="panel no-border height1 yellow-bg">
										<div class="panel-body text-center">
											<div class="user-stats">
												<i class="icon-trophy icon-4x text-white"></i>
												<h3>21</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
									<div class="panel no-border height1 green-bg">
										<div class="panel-body text-center">
											<div class="user-stats">
												<i class="icon-star icon-4x text-white"></i>
												<h3>1290</h3>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
									<div class="panel no-border height1 pink-bg">
										<div class="panel-body text-center">
											<div class="user-stats">
												<i class="icon-thumbs-up icon-4x text-white"></i>
												<h3>985</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Row inside row ends -->
						</div>
					</div>
					<!-- Row ends -->

					<!-- Row starts -->
					<div class="row gutter">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="social-details tw clearfix">
								<div class="social-icon pull-left">
									<i class="icon-twitter-with-circle"></i>
								</div>
								<div class="social-num">
									<h4>145k <span class="label">21%</span></h4>
									<p>Tweets</p>
									<div class="progress progress-sm">
										<div class="progress-bar" role="progressbar" aria-valuenow="82" aria-valuemin="0" aria-valuemax="100" style="width: 82%">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="social-details fb clearfix">
								<div class="social-icon pull-left">
									<i class="icon-facebook-with-circle"></i>
								</div>
								<div class="social-num">
									<h4>21k <span class="label">7%</span></h4>
									<p>Likes</p>
									<div class="progress progress-sm">
										<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="social-details lk clearfix">
								<div class="social-icon pull-left">
									<i class="icon-linkedin-with-circle"></i>
								</div>
								<div class="social-num">
									<h4>879 <span class="label">11%</span></h4>
									<p>Connections</p>
									<div class="progress progress-sm">
										<div class="progress-bar" role="progressbar" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="social-details gplus clearfix">
								<div class="social-icon pull-left">
									<i class="icon-google-with-circle"></i>
								</div>
								<div class="social-num">
									<h4>75 <span class="label">2%</span></h4>
									<p>Circles</p>
									<div class="progress progress-sm">
										<div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Row ends -->

					<!-- Row starts -->		
					<div class="row gutter">
						<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
							<div class="panel no-border blue-grey-bg">
								<div class="panel-body text-center">
									<ul class="friends-list clearfix">
										<li>
											<img src="img/thumbs/user1.png" alt="user">
											<span class="status online"></span>
										</li>
										<li>
											<img src="img/thumbs/user2.png" alt="user">
											<span class="status online"></span>
										</li>
										<li>
											<img src="img/thumbs/user20.png" alt="user">
											<span class="status online"></span>
										</li>
										<li>
											<img src="img/thumbs/user4.png" alt="user">
											<span class="status busy"></span>
										</li>
										<li>
											<img src="img/thumbs/user5.png" alt="user">
											<span class="status busy"></span>
										</li>
										<li>
											<img src="img/thumbs/user9.png" alt="user">
											<span class="status busy"></span>
										</li>
										<li>
											<img src="img/thumbs/user7.png" alt="user">
											<span class="status busy"></span>
										</li>
										<li>
											<img src="img/thumbs/user13.png" alt="user">
											<span class="status away"></span>
										</li>
										<li>
											<img src="img/thumbs/user19.png" alt="user">
											<span class="status away"></span>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
							<div class="panel no-border brown-bg">
								<div class="panel-body">
									<div class="tweets-container">
										<div class="carousel carousel-default slide carousel-auto" id="tweets">
											<div class="carousel-inner">
												<div class="item">
													<p class="tweet">Support for most major browsers including Safari, IE9+, Chrome, FF, and Opera.</p>
													<p class="author"><strong>Best Admin Dashboard</strong></p>
												</div>
												<div class="item">
													<p class="tweet">Mobile first design. Fits many resolutions, from large desktops to small mobile devices.</p>
													<p class="author"><strong>Awesome Dashboard</strong></p>
												</div>
												<div class="item active">
													<p class="tweet">Bluemoon is a responsive admin dashboard template for admin and back end applications. It is a reliable, user-friendly and easy to customize.</p>
													<p class="author"><strong>Bluemoon for StartUps</strong></p>
												</div>
												<div class="item">
													<p class="lead">Best Admin dashboard template of 2016 base on native Bootstrap3 framework.</p>
													<p class="author"><strong>Bluemoon Admin Dashboard</strong></p>
												</div>
											</div>
											<ol class="carousel-indicators">
												<li class="" data-slide-to="0" data-target="#tweets"></li>
												<li data-slide-to="1" data-target="#tweets" class="active"></li>
												<li data-slide-to="2" data-target="#tweets" class=""></li>
												<li data-slide-to="3" data-target="#tweets" class=""></li>
											</ol>
										</div>
									</div>
								</div>
							</div>
						</div>						
					</div>
					<!-- Row ends -->					

				</div>
				<!-- Main container ends -->

			</div>
			<!-- Dashboard wrapper ends -->
			
		</div>
		<!-- Container fluid ends -->

		<!-- Footer Start -->
		<footer>
			© BlueMoon <span>2013-2016</span>
		</footer>
		<!-- Footer end -->

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="js/jquery.js"></script>

		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="js/bootstrap.min.js"></script>
		
		<!-- jquery ScrollUp JS -->
		<script src="js/scrollup/jquery.scrollUp.js"></script>

		<!-- JVector Map -->
		<script src="js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
		<script src="js/jvectormap/gdp-data.js"></script>
		<script src="js/jvectormap/africa-mill.js"></script>
		<script type="text/javascript">
			// Denmark
			$(function(){
				$('#mapAfrica').vectorMap({
					map: 'africa_mill',
					backgroundColor: '#3693cf',
					scaleColors: ['#707C8E'],
					zoomOnScroll: false,
					zoomButtons : false,
					zoomMin: 1,
					hoverColor: true,
					series: {
						regions: [{
							values: gdpData,
							scale: ['#3693cf', '#ffd570', '#23a03e', '#E4817B', '#AE4357'],
							normalizeFunction: 'polynomial'
						}]
					},
					markerStyle: {
						initial: {
							fill: '#e83232',
							stroke: '#FFFFFF',
							r: 10
						}
					},
					markers :[
						{latLng: [-33.9249, 18.4241], name: 'Cape Town, South Africa'},
					],
				});
			});
		</script>

		<!-- Custom JS -->
		<script src="js/custom.js"></script>
	</body>
</html>